$fontModerat: "Moderat", sans-serif;

$colorWhite: #fff;
$colorBlack: #000;
$colorTransp: transparent;
$colorDarkBlue: #151d51;
$colorPrimaryViolet: #483fdd;
$colorBackgroundViolet: #eff1ff;
$colorPrimaryGreen: #5cd6c0;

$timeFast: 0.15s;
$timeMedium: 0.3s;
$headerZindex: 999999;
