@import "./static/styles/base/variables";
@import "./static/styles/base/mixins";

.protect {
  padding: 25px 0 24px;
  background: $colorBackgroundViolet;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }

  &__description {
    @include usualText();
    padding: 0 8px;
    text-align: center;
    margin-bottom: 20px;
  }
}
