@import "./static/styles/base/variables";

.clario {
  padding: 20px 0 40px;
  &__title {
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
  }

  &-list {
    display: block;
  }
}
